{% extends 'base.html' %}


{% block content %}
    <div class="alert-box"></div><br>
    <div class="mt-5 d-block" id="image-box" width="100%"></div>

    <form action="" id="image-form" class="mt-3 d-block">
        {% csrf_token %}
        {{ crop_form.as_p }}
        <button class="btn btn-primary mt-3 d-none" id="confirm-btn">confirm</button>
    </form>
    <br>




    <script>

        const alertBox = $('.alert-box')
        const imageBox = $('#image-box')
        const imageForm = $('#image-form')
        const confirmButton = $('#confirm-btn')
        const idFile = $('#id_file')
        const csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val()

        idFile.on('change', function () {
            confirmButton.removeClass('d-none')
            const image_data = idFile[0].files[0]
            const url = URL.createObjectURL(image_data)
            imageBox.html(`<img src="${url}" id="image" width="500px" alt=""/>`)
            console.log(imageForm.prop('action'))
            console.log(csrfmiddlewaretoken)
            mm = document.getElementById('image-form')
            console.log(mm.action)


            var $image = $('#image');
            $image.cropper({
                aspectRatio: 9 / 9,
                crop: function (event) {
                    {#console.log(event.detail.x);#}
                    {#console.log(event.detail.y);#}
                    {#console.log(event.detail.width);#}
                    {#console.log(event.detail.height);#}
                    {#console.log(event.detail.rotate);#}
                    {#console.log(event.detail.scaleX);#}
                    {#console.log(event.detail.scaleY);#}
                }
            });

            // Get the Cropper.js instance after initialized
            var cropper = $image.data('cropper');

            confirmButton.on('click', function (e) {
                e.preventDefault()
                cropper.getCroppedCanvas().toBlob((blob) => {
                    console.log('1')
                    const fd = new FormData()
                    fd.append('csrfmiddlewaretoken', csrfmiddlewaretoken)
                    fd.append('file', blob, `${Math.random()}.jpg`)
                    {#fd.append('file', blob, 'My-photo.jpg')#}
                    console.log('2')
                    $.ajax({
                        type: 'POST',
                        url: imageForm.prop('action'),
                        enctype: 'multipart/form-data',
                        data: fd,
                        success: function (response) {
                            console.log(response)
                        },
                        error: function (error) {
                            console.log(error)
                        },
                        cache: false,
                        contentType: false,
                        processData: false,
                    })
                })

            })
        })


    </script>

{% endblock %}